@font-face {
    font-family: "Neris";
    src:
      url("../fonts/Neris/Neris-Light.ttf") format("ttf"),
      url("../fonts/Neris/Neris-Light.eot") format("eot"),
      url("../fonts/Neris/Neris-Light.woff") format("woff");
    //   url("../fonts/Neris/") format("woff2");
    font-weight: 300;
  }
  @font-face {
    font-family: "Neris";
    src:
      url("../fonts/Neris/Neris-SemiBold.ttf") format("ttf"),
      url("../fonts/Neris/Neris-SemiBold.eot") format("eot"),
      url("../fonts/Neris/Neris-SemiBold.woff") format("woff");
    //   url("../fonts/Neris/") format("woff2");
    font-weight: 600;
  }
  @font-face {
    font-family: "Neris";
    src:
      url("../fonts/Neris/Neris-Black.ttf") format("ttf"),
      url("../fonts/Neris/Neris-Black.eot") format("eot"),
      url("../fonts/Neris/Neris-Black.woff") format("woff");
    //   url("../fonts/Neris/") format("woff2");
    font-weight: 900;
  }