.header {
    box-shadow: 0 2px 30px 0 rgba(30, 30, 30, 0.1);
    z-index: 1;
}


.top {
    border-bottom: 1px solid var(--border-gray);


    @media (max-width:992px) {
        display: none;
    }
}

.bootstrap-select .btn:focus {
    outline: none;
}

.flag-icon {

    height: 20px;
    width: 33px;
}

.tab {
    letter-spacing: 0.2em;

    &:first-of-type {
        position: relative;
        padding-left: 0;

        &::after {
            content: '';
            position: absolute;
            top: 20px;
            right: 0;
            width: 1px;
            height: 20px;
            background: var(--border-gray);
        }
    }
}

.tab.active {
    font-weight: 900 !important;
    transition: .3s ease;
}

.logo {
    background: var(--logo-bg);
    color: var(--white);
 
    letter-spacing: 0.4em;
   

    padding: 3px 47px;
    border-radius: var(--border-radius50);
    max-width: 181px;
}

.nav-links-t {
    color: var(--link-color);
    border-bottom: 2px solid transparent;
    transition: border .5s ease;

    &.active,
    &:focus,
    &:hover {
        border-color: var(--brand-red);
    }
}

.custom-select {
    display: none;
}


@media (max-width:992px) {
    .nav-gap {
        position: absolute;
        top: 105%;
        width: 300px;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #fff;
        padding: 10px;
        gap: 10px;
        border-radius: .438rem;
    }

    .header-wrap {
        padding: 20px 30px;
    }

}

@media (max-width:769px) {
    .header-wrap {
        padding: 20px 30px;
    }

}

@media (max-width:376px) {
    .header-wrap {
        padding: 15px 16px;
    }

}