<div class="accordion-item">
    <h3 class="accordion-header overflow-hidden p-0 m-0 d-flex justify-content-between align-items-center h3" >
        <div class="fw-bolder lh-lg fs-22 ms-m6">001</div>
        <button class="accordion-button lh-lg m-0 py-0 fw-bolder fs-22  " type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseOne" 
            aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne">
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
        </button>
    </h3>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" >
        <div class="accordion-body">
            <ul class=" body-content py-25 pl-80">
                <li class="fw-light fs-6 fw-light list-content">Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia
                    deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis
                    isteaspernatur aut.
                </li>
                <li class="fw-light fs-6 fw-light list-content">Deserunt mollit anim id est laborum. Sed ut perspiciatis
                    unde omnis
                    isteaspernatur aut.
                </li>
                <li class="fw-light fs-6 fw-light list-content">Qui officia deserunt mollit anim id est laborum. Sed ut
                    perspiciatis unde omnis
                    iste
                </li>
                <li class="fw-light fs-6 fw-light list-content">Accusantium doloremque laudantium, totam rem aperiam, eaque
                    ipsa quae ab illo
                    inventore veritatis etaut fugit
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="accordion-item">
    <h3 class="accordion-header overflow-hidden p-0 m-0 d-flex justify-content-between align-items-center h3" id="panelsStaypanelsStayOpen-headingTwo">
        <div class="lh-lg fw-bolder fs-22 ms-m6">002</div>
        <button class="accordion-button lh-lg m-0 py-0 fw-bolder fs-22  collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseTwo">
            Voluptatem quia voluptas sit aspernatur aut odit aspernatur aut
        </button>
    </h3>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
        aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
            <ul class=" body-content">
                <li class="fs-6 fw-light list-content">Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia
                    deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis
                    isteaspernatur aut.
                </li>
                <li class="fs-6 fw-light list-content">Deserunt mollit anim id est laborum. Sed ut perspiciatis
                    unde omnis
                    isteaspernatur aut.
                </li>
                <li class="fs-6 fw-light list-content">Qui officia deserunt mollit anim id est laborum. Sed ut
                    perspiciatis unde omnis
                    iste
                </li>
                <li class="fs-6 fw-light list-content">Accusantium doloremque laudantium, totam rem aperiam, eaque
                    ipsa quae ab illo
                    inventore veritatis etaut fugit
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="accordion-item">

    <h3 class="accordion-header overflow-hidden p-0 m-0 d-flex justify-content-between align-items-center h3" id="panelsStayOpen-headingTwo">
        <div class="fw-bolder lh-lg fs-22 ms-m6">003</div>
         <button
            class="accordion-button lh-lg m-0 py-0 fw-bolder fs-22  collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseThree">

            Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis
        </button>
    </h3>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body">
            <ul class=" body-content">
                <li class="fs-6 fw-light list-content">Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia
                    deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis
                    isteaspernatur aut.
                </li>
                <li class="fs-6 fw-light list-content">Deserunt mollit anim id est laborum. Sed ut perspiciatis
                    unde omnis
                    isteaspernatur aut.
                </li>
                <li class="fs-6 fw-light list-content">Qui officia deserunt mollit anim id est laborum. Sed ut
                    perspiciatis unde omnis
                    iste
                </li>
                <li class="fs-6 fw-light list-content">Accusantium doloremque laudantium, totam rem aperiam, eaque
                    ipsa quae ab illo
                    inventore veritatis etaut fugit
                </li>

            </ul>
        </div>
    </div>
</div>