<div class="container banner-block mx-auto wrapper">
    <div class="banner bg-white rounded-30 p-35 pb-64 d-flex align-items-center justify-content-center position-relative">
        <div class="d-flex align-items-center justify-content-center flex-column gap-5" >
            <div class=" d-flex align-items-center justify-content-center flex-column gap-4">
                <div class="fw-bolder fs-30 lh-base banner-title text-center">
                    Deserunt mollit anim id est laborum perspiciatis unde
                </div>
                <div class="lh-base fs-22 fw-light lh-sm text-center">
                    Quia voluptas sit aspernatur voluptas
                </div>
            </div>

            <button class="btn btn-primary px-80 py-18 lh-base text-uppercase fw-bolder padding-x-md banner_btn">Lorem ipsum dolor sit amet</button>
        </div>
    </div>
</div>